---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const pageTitle = "博客";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>我的 Astro 学习博客</h1>
  <p>在这里，我将分享我的学习 Astro 之旅。</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />)}
  </ul>
</BaseLayout>
